.Resume {
    min-height: 80vh;
    margin: 0 auto;
    
}

.container {
    max-width: 40rem;
    
}

.Resume h1 {
    font-size: 2rem;
    font-weight: 700;
}

.Resume img {
    max-width:28rem;
    height:auto;
    width:100%;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #44546A;
    border: 0.001rem solid rgb(236, 236, 236);
    margin-top: 2.8rem;
    
}

@media only screen and (max-width:767px){

    .Resume h1 {
        font-size: 1.9rem;
    }
    
}